
// colors 
$blue: #1c88bf;
$dark-blue: #364051;
$dark-gray: #333333;
$gray: #888888;
$light-gray: #666666;
$off-white: #f7f7f7;


//sizing 
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//font sizes 
$font-size-s: 1.5rem;
$font-size-l: 2rem;